<h1>Contractor Index page</h1>
<% @contractors.each do |contractor| %>
	<h2>Name: <%= contractor.name %> </h2>
	<p>Phone Number: <%= contractor.phone_number %> </p>
	<p>Website: <%= contractor.web_site %></p>
	<p>Email: <%= contractor.email %></p>
	<p>Job Description: <%= contractor.job_description %></p>      
    <a href="/contractors/<%= contractor.id %>">More Info</a>
<% end %>



