<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="title">Garabaldi Square Contractor Directory</h1>
<!-- <li><a href="/contractors?sort=job_description">Sort Work by Job Description</a></li> -->
<!-- job_category.each do |job|
  <li>
    <a href="/contractors?job_description=#{job.name}"><#%= job.name %> </a>
  </li>
end -->
<div>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search by Job Description <span class="caret"></span></a>
  <ul class="dropdown-menu">
  <% @job_categories.each do | job_category | %>
    <li>
      <a href="/contractors?job_description=<%= job_category.name %>"><%= job_category.name %></a>
    </li>
  <%end %>
  </ul>
</div>

<% if @contractors %> 
  <div class="row"> 
    <% @contractors.each do |contractor| %>
      <div class="col-md-4">
        <div class="well height-700">
          <h2 style="min-height: 3em"><%= contractor.name %> </h2>
          <p><%= contractor.phone_number %> </p>
          <p><%= contractor.web_site %></p>
          <p><%= contractor.email %></p>
          <p>Job Description: <%= contractor.job_description %></p>
          <div class="contractor-image" style="background-image: url(<%= contractor.image %>)"></div>
          <% if false and contractor.preferred? %>
            <div>
              <img src="<%= asset_path 'preferred.gif' %>"" width="100">
            </div>
          <% end %>
          <a href="/contractors/<%= contractor.id %>">Reviews</a>
        </div> 
      </div>
    <% end %>
  </div>
<% else %>
<div>
  <h3>No contractors currently exits in that category</h3>
</div>  
<% end %>
</div>






