<h1>Contractor Index page</h1>
<!-- <li><a href="/contractors?sort=job_description">Sort Work by Job Description</a></li> -->

<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search by Job Description <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
            	<a href="/contractors?job_description=Tile">Tiling </a></li>
            <li>
            	<a href="/contractors?job_description=Electrician">Electrician </a>
            </l>
            <li>
            	<a href="/contractors?job_description=Plumbing">Plumber </a>
            </li>
            <li>
              <a href="/contractors?job_description=Lighting">Lighting </a>
            </li>
            <li>
              <a href="/contractors?job_description=Kitchens">Kitchens </a>
            </li>
              <li>
              <a href="/contractors?job_description=Painting">Painter </a>
            </li>
            <li>
              <a href="/contractors?job_description=Interior_Design">Interior Design </a>
            </li>
            <li>
              <a href="/contractors?job_description=Garage_door_repair">Garage Door Repair </a>
            </li>
            <li>
              <a href="/contractors?job_description=Bathroom">Bathrooms </a>
            </li>
            <li>
              <a href="/contractors?job_description=Drapes">Drapes </a>
            </li>
            <li>
              <a href="/contractors?job_description=Interior_Design">Interior Design </a>
            </li>
            
            




            
  <!-- </div> -->
</div>
<% @contractors.each do |contractor| %>
	<h2>Name: <%= contractor.name %> </h2>
	<p>Phone Number: <%= contractor.phone_number %> </p>
	<p>Website: <%= contractor.web_site %></p>
	<p>Email: <%= contractor.email %></p>
	<p>Job Description: <%= contractor.job_description %></p>   
	<a href="/contractors/<%= contractor.id %>">More Info</a>
<% end %>




