<p>Name: <%= @contractor.name %> </p>
<p>Phone Number: <%= @contractor.phone_number %> </p>
<p>Website: <%= @contractor.web_site %></p>
<p>Email: <%= @contractor.email %></p>
<p>Job Description: <%= @contractor.job_description %></p> 
<p>Reviews: <%= @contractor_reviews %></p>    
    <a href="/contractors">Back to all contractors</a>
